.dropdown-toggle,.dropdown-item {
    cursor: pointer;
}
.nav-link,.dropdown-toggle,.dropdown-item {
    font-weight: 600;
  
}

img {
    max-height: 50px;
    border: 2px solid white;
    display: inline;
}